<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"> <!--  libreria thymeleaf para interactuar info entre java y html-->
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8"/><!-- lo cierro con "/" --> 
    </head>
    <body>

        <h1>Datos de cliente</h1>
        <a th:href="@{/}">Regresar</a> 
        <hr>
        <form th:action="@{/cliente/guardar}" method="post" th:object="${cliente}">

            <label>Nombre</label> 
            <input type="text" name="nombre" size ="20" th:field="*{nombre}"/> <!-- coloque nombre en objeto cliente --> 

            <br>

            <label>Apellidos</label> 
            <input type="text" name="apellidos" size ="30" th:field="*{apellidos}"/>

            <br>

            <label>Correo</label> 
            <input type="email" name="correo" th:field="*{correo}"/>

            <br>

            <label>Teléfono</label> 
            <input type="tel" name="telefono" th:field="*{telefono}"/>

            <br>
            <input type="submit" name="guardar" value="Guardar"/>

        </form>
    </body>
</html>
